Source: ros-kinetic-control
Section: misc
Priority: extra
Maintainer: david <david@todo.todo>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-mavros, ros-kinetic-roscpp, ros-kinetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-mavros, ros-kinetic-roscpp, ros-kinetic-std-msgs
Description: The control package
